<!--home.html-->
<div class="col-md-8 col-md-offset-2">
    <h2 style="text-align:center;color:blue">GAME</h2>
    <div class="row" ng-show="vm.match">
        <div class="row">
            <div class="progress col-md-4" style="width: 30%;height: 90px; float:left; position:relative;">
                <div class="progress-bar " role="progressbar " aria-valuenow="{{vm.user_health}}" aria-valuemin="0" aria-valuemax="100" style="width:{{vm.user_health}}%;background-color:#14c40e">
                    {{user_name}} ({{vm.user_health}}%)
                </div>
            </div>
            <div class="progress col-md-4 col-md-offset-4" style="width: 30%;height: 90px; float:left; position:relative;">
                <div class="progress-bar " role="progressbar " aria-valuenow="{{vm.monster_health}}" aria-valuemin="0" aria-valuemax="100" style="width: {{vm.monster_health}}%;background-color:#14c40e ">
                    Monstar ({{vm.monster_health}}%)
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 15%;">
            <div>
                <button type="button" class="btn btn-primary after-start" ng-click="vm.attack('normal')">Attack</button>
                <button type="button" class="btn btn-primary after-start" ng-click="vm.attack('power')">Blast</button>
                <button type="button" class="btn btn-primary after-start" ng-click="vm.attack('healing')">HEAL</button>
                <button type="button" class="btn btn-primary after-start" ng-click="vm.attack('surrender')">Give Up</button>
            </div>
            <div style="border-style: groove;height: 350px; width: 40%; overflow-y: auto;float: right">
                <p ng-repeat="user in vm.commentary track by $index">
                    {{ user }}
                </p>
            </div>
        </div>
    </div>
    <div ng-hide="vm.match">
        <h4>Welcome {{ user.firstName }}</h4>
        <div>
            <button type="button" class="btn btn-primary" ng-click="vm.startgame()">Start Game</button>
        </div>
    </div>
</div>